@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* wrap */
#wrap {
    width: 100%;
    margin: 0 auto;
}

/* loading */
.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #a8d3d4;
}
.loader {
    width: 100px;
    height: 100px;
    background: linear-gradient(
      165deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(161, 216, 226) 40%,
      rgb(103, 181, 183) 98%,
      rgb(0, 155, 159) 100%
    );
    border-radius: 50%;
    position: relative;
  }
  .loader.is-active {
    opacity: 0;
    visibility: hidden;
  }
 .loader-wrap.is-active {
    opacity: 0;
    visibility: hidden;
  }

  .loader:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
      0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
      0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
      0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
  }

  .loader:before.is-active {
    opacity: 1;
    visibility: visible;
  }

  @keyframes rotate {
    100% { transform: rotate(360deg) }
  }
      
/* header */
header h1 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    color: #00947a;

}

header h1::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center ;
    width: 100%;
    height: 2px;
    background-color: #67b5b7;
    content: '';
    transition: transform .3s ease;
}

header h1:hover::after {
    transform: scaleX(1);
}
/* ナビゲーション*/
.main-menu {
    background: white;
    display: none;
}

.main-menu ul li {
    text-align: center;
}

.main-menu ul li a {
    color: #00947a;
    display: block;
    padding: 10px 20px;
}

.main-menu ul li a:hover {
    background: #67b5b7;
    color: aliceblue;
}

/* main*/
main {
    background-color: white;
    padding: 50px;
}

.impact_center {
    text-align: center;
    padding: 20px;
}

main h1 {
    text-align: center;
    padding: 15px;
}

main h3 {
    text-align: center;
    padding: 5px;
}

main h4 {
    padding: 5px;
}

main li {
    list-style-type: square;
    margin: 0 30px;
}

/* index.html Logo*/
.Logo {
    height: 300px;
    position: relative;
}

.Logo h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* index.htmlページの画像*/

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

#imgSet {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 2px;
}

#imgSet li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: calc(33.3% - 4px);
}
/*About link */

.link1 a{
    color: #00947a;
}
.link1 a:hover{
    color: #0068b7;
    text-decoration: underline;
}

/* Gallary link */

.link h1 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid aliceblue;
    background-color: transparent;
    color: #00947a;

}

.link h1::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center left;
    width: 100%;
    height: 2px;
    background-color: #67b5b7;
    content: '';
    transition: transform .3s ease;
}

.link h1:hover::after {
    transform: scaleX(1);
}


/* Galleryページの画像*/

.portimage {
    text-align: center;
}

.portimage li {
    list-style-type: none;
}

.portimage img {
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}
.portimage img:hover{
    opacity: 0.7;
}

.portmovie {
    text-align: center;
}

.portmovie li {
    list-style-type: none;
    aspect-ratio: 16/9;
}

.youtube {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  .youtube iframe {
    width: 100%;
    height: 100%;
  }

/* Galleryページの文字要素*/
.gallery h3{
    padding: 30px;
}
.btn01 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid aliceblue;
    background-color: transparent;
    color: #00947a;
    font-weight: 600;
    font-size: 1em;
}

.btn01::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center left;
    width: 100%;
    height: 2px;
    background-color: #67b5b7;
    content: '';
    transition: transform .3s ease;
}

.btn01:hover::after {
    transform: scaleX(1);
}


/*作品　ソフトごとのページ*/

.title {
    text-align: left;
}
.right a{
    color: #00947a;
}
.right a:hover{
    color: #0068b7;
    text-decoration: underline;
}
.youtube-AEpage{
    width: 100%;
    aspect-ratio: 16 / 9;
  }
.youtube-AEpage iframe {
    width: 100%;
    height: 100%;
  }

/*subject タブ*/
.tab {
    max-width: 600px;
    margin: 0 auto;
}

.tab-list {
    display: flex;
}

.tab-list-item {
    width: 25%;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
}

.tab-contents {
    background-color: #ebf6f7;
    display: none;
    padding: 20px;
    
}

.is-btn-active {
    background-color: #67b5b7;
    color: aliceblue;
    font-weight: bold;
    font-size: medium;
}

.is-contents-active {
    display: block;
}

/*footer*/
footer {

    color: #67b5b7;
    padding: 20px;
    text-align: center;
}
/*ページ上部に戻るリンク*/
a.pagetop {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #67b5b7;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    right: 20px;
  }
  
  html {
    scroll-behavior: smooth;
  }





/* menu button*/
@media only screen and (max-width: 767px) {

    #navBtn:checked~.main-menu {
        display: block;
    }

    #navBtn {
        display: none;
    }

    label {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        text-align: center;
        color: #00947a;
    }

    .open {
        z-index: 100;
        width: 40px;
        height: 40px;
        border: 1px solid #009b9f;
        border-radius: 2px;
    }

    /*humburger button*/
    .open::before,
    .open::after {
        content: "";
    }

    .open span,
    .open::before,
    .open::after {
        content: "";
        position: absolute;
        top: 19px;
        left: 30%;
        width: 40%;
        border-bottom: 2px solid #009b9f;
        transition: transform .5s;
    }

    .open::before {
        transform: translateY(-8px);
    }

    .open::after {
        transform: translateY(8px);
    }

    /*close button*/
    #navBtn:checked+.open {
        background: #009b9f;
    }

    #navBtn:checked+.open span {
        transform: scaleX(0);
    }

    #navBtn:checked+.open::before {
        border-bottom: 2px solid aliceblue;
        transform: rotate(45deg);
    }

    #navBtn:checked+.open::after {
        border-bottom: 2px solid aliceblue;
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: 768px) {

    /* ハンバーガーボタン */
    label {
        display: none;
        /*768px以上では使用しない */
    }

    header {
        padding: 30px 0 0;
    }

    #navBtn {
        display: none;
    }

    .nav {
        height: 75px;
    }

    .main-menu {
        display: flex;
        justify-content: center;
        height: 75px;
        align-items: center;
    }

    .main-menu ul {
        display: flex;
    }

    .main-menu ul li {
        text-align: left;
    }

}


/* タブレット用 600px以上〜*/
@media all and (min-width: 600px) {
    #wrap {
        width: 95%;
    }

    /* Galleryページの画像*/
    .portimage {
        position: relative;
        display: flex;
    }

    .portimage li {
        width: 100%;
        padding: 5px;
    }

    .portimage li img {
        width: 100%;
    }


    .portmovie {
        position: relative;
        display: flex;
    }

    .portmovie li {
        width: 100%;
        padding: 5px;
        aspect-ratio: 16/9;
    }

    .portmovie li iframe {
        width: 100%;
        height: 100%;
    }

    /*作品　ソフトごとのページ*/
    /* 横並び */

    .flex {
        display: flex;

        /*横並び*/
    }

    .flex .image {
        width: 50%;
        /*画像サイズ指定*/
        padding: 0;
        overflow: hidden;
        position: relative;
    }
    .image img:hover{
        opacity: 0.7;
    }

    .right{
        width: 50%;
        margin-left: 20px;
    }


    .flex .youtube-AEpage {
        width: 50%;
        /*画像サイズ指定*/
        padding: 0;
        position: relative;
        aspect-ratio: 16 / 9;
        }
    .flex .youtube-AEpage iframe{
        aspect-ratio: 16 / 9;
        width: 100%;
        height: auto;
    }



}



/* コンピュータ用 1025px以上〜 */
@media all and (min-width: 1025px) {

    #wrap {
        width: 90%;
        max-width: 1280px;
    }
}